@charset "UTF-8";
/*
  tudo que é HTML é id = em CSS é #
  em HTML é class = em CSS é .
*/

body{
    background-color: rgb(193, 202, 177);
    font-family: Arial, Helvetica, sans-serif;
}


h1#principal{ /*Não precisa especificar o h1 , apenas o "PRINCIPAL*/
    color: rgb(35, 54, 2);
    text-align: center;
    color: white;
}

h2{
    color: rgb(35, 54, 2);

}

