@charset "UTF-8";

body{
    background-color: rgb(193, 202, 177);
    font-family: Arial, Helvetica, sans-serif;
}


h1#principal{ /*Não precisa especificar o h1 , apenas o "PRINCIPAL*/
    color: rgb(35, 54, 2);
    text-align: center;
    color: white;
}

h2{
    color: rgb(35, 54, 2);

}

.basico{
    color: #3c8053;
}
.intermediario{
    color:#80793c
}

.avancado{
    color:#3c805e;
}

.destaque{
    background-color: rgb(222, 199, 135);
}